body {
  margin: 0;
  display: grid;
  width: auto;
  background-color: black;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  gap: 20px;
}


header {
  grid-column: col-start / span 3;
  display: grid;
}

nav {

}

nav ul {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: white;
  text-transform: capitalize;
  background-color: yellow;
  display: inline-block;
} 

.hero {
  display: grid; 
  grid-column: 1 / span 5;
  grid-row: 2 / span 2;
  column-gap: 10px;
}
img .hero {
  object-fit:contain;
}
p .hero {
  text-align: left;
  background-color: yellow; 
  left: 30px; 
}

.product1{
  background-color:yellow;
  grid-column: 6 / span 2;
  grid-row: 1 / span 1;
}
.product2{
  background-color:yellow;
  grid-column: 6 / span 2;
  grid-row: 2 / span 1;
}

.featured-item{

}

